<Project>
    <PropertyGroup>
        <Sts2Dir>C:\Path\To\Slay the Spire 2</Sts2Dir>
        <Sts2DataDir>$(Sts2Dir)\data_sts2_windows_x86_64</Sts2DataDir>
        <GodotExe>C:\Path\To\MegaDot_v4.5.1-stable_mono_win64.exe</GodotExe>
    </PropertyGroup>
</Project>
